<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>



  <!--
    - A login form. User enters a username, then submits the login button.
    - Submited information is routed to /login -->
  <form action="/login" method="POST" >

    <div style="display: flex; justify-content: center; align-items: center;">

      <!-- Note: should include sr only and content inside the label ie enter username -->
      <label for="username"> </label>
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Enter a username"
        style="width: 300px; margin: 1em"
      />
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>

  <!-- Display the username once the user signs in -->
  <div>
    <p>Signed in as: </p>
    <p><%= username %></p>

  </div>

</nav>


</header>